[submodule "plugins/zshAutosuggestions"]
	path = plugins/zshAutosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "plugins/fsh"]
	path = plugins/fsh
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "plugins/powerlevel10k"]
	path = plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "plugins/ohmyzsh"]
	path = plugins/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
